status: {{ status }}
project_name: "{{ project_name }}"
initialized_at: "{{ initialized_at }}"
last_updated: "{{ last_updated }}"
next_work_item_seq: {{ next_work_item_seq }}
version: "{{ version }}"
